**/.git
**/*.log
**/*.md
**/*.rnd
**/.DS_Store
**/Thumbs.db
**/*.zip
**/*.cache


codes/node_modules
codes/.env
codes/.env.*
codes/logs
codes/.styleci.yml
codes/.editorconfig
codes/README.md

/deploy

**/.fleet
**/.idea
**/.vscode
**/*.code-workspace
**/*.sublime-workspace

/.editorconfig
**/.scannerwork
**/prisma-cloud-scan-results*.json