.env
.env.backup
.env.production
.phpunit.result.cache

/.fleet
/.idea
.idea
/.vscode
**/*.code-workspace
**/*.sublime-workspace

**/.DS_Store
**/Thumbs.db

/.scannerwork
/prisma-cloud-scan-results*.json

/docker/.env
./docker/docker-compose.override.yml.example