APP_NAME=MediSquare
APP_ENV=local
APP_KEY=base64:eMLoVl4cKaeq1PGse8Mt9l1pJyQyj+r6MLC6wx7sY9c=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=common-mysql
DB_PORT=3306
DB_DATABASE=medisquare_db
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=pusher
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120
FILESYSTEM_DRIVER=public

REDIS_CLIENT=predis
REDIS_URL=
REDIS_HOST=common-redis
REDIS_PASSWORD=secret
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@madisquare.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=arup_pusher_app
PUSHER_APP_KEY=arup_pusher_key
PUSHER_APP_SECRET=arup_pusher_secret
PUSHER_APP_CLUSTER=mt1
PUSHER_APP_HOST="shotayu-websocket:3030"
LARAVEL_WEBSOCKETS_SSL_LOCAL_CERT=""
LARAVEL_WEBSOCKETS_SSL_LOCAL_PK=""
LARAVEL_WEBSOCKETS_SSL_PASSPHRASE=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_PUSHER_APP_HOST="${PUSHER_APP_HOST}"
MIX_PUSHER_APP_ID=arup_pusher_app
MIX_PUSHER_APP_SECRET=arup_pusher_secret

SMS_USERNAME=
SMS_PASSWORD=""

STORE_ID=
STORE_PASSWORD=

SWEET_ALERT_AUTO_DISPLAY_ERROR_MESSAGES=true

FIREBASE_CREDENTIALS=""

FIREBASE_SERVER_KEY=""
FIREBASE_SENDER_ID=""

WKHTML_PDF_BINARY=/usr/bin/wkhtmltopdf
WKHTML_IMAGE_BINARY=/usr/bin/wkhtmltoimage

PAYMENT_MS_ENDPOINT=""
PAYMENT_MS_HOST=""

IS_SMS_ACTIVE=1

FCM_NOTIFICATION_URL=
FCM_SERVER_KEY=