NODE_ENV=development
APP_URL=http://localhost

MIX_PUSHER_APP_ID=arup_pusher_app
MIX_PUSHER_APP_KEY=arup_pusher_key
MIX_PUSHER_APP_SECRET=arup_pusher_secret
MIX_PUSHER_APP_CLUSTER=mt1
MIX_PUSHER_APP_HOST=shotayu-websocket