#############################################################
# Docker Compose Settings
#############################################################

# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
#COMPOSE_FILE=docker-compose.base.yml
COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml
#COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml
#COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=shotayu

PROJECT_NAME=shotayu

# Timezone
APP_TIMEZONE=Asia/Dhaka

# Build Mode ['dev', 'prod']
DOCKER_BUILD_MODE=prod

#############################################################
# Service Settings
#############################################################

UID=1000
GID=1000

PHP_VERSION=8.2.2-fpm
CODE_BASE_PATH=./codes


# Web Service
HTTP_PUBLISH_PORT=8081
HTTPS_PUBLISH_PORT=8082
VUE_PUBLISH_PORT=5173
WEB_SOCKET_PORT=3030

#Base image
LARAVEL_BASE_IMAGE_NAME=laraveldevbose/laravel-base
LARAVEL_BASE_BUILD_TAG=latest

APP_EXTRA_INSTALL_APT_PACKAGES=
APP_EXTRA_INSTALL_PHP_EXTENSIONS=

# Node
PUSHER_APP_KEY=arup_pusher_key
PUSHER_APP_CLUSTER=mt1
PUSHER_APP_HOST=shotayu-websocket